version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PHP_VERSION: 8.4-fpm
    image: laravel_app:latest
    working_dir: /var/www/html
    volumes:
      - ./safi_test_work:/var/www/html:delegated
      - ./php.ini:/usr/local/etc/php/php.ini:ro
    depends_on:
      - db
    environment:
      APP_ENV: ${APP_ENV}
      APP_URL: ${APP_URL}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    networks:
      - app-network

  web:
    image: nginx:stable
    depends_on:
      - app
    ports:
      - "8000:80"
    volumes:
      - ./safi_test_work:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app-network

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

  adminer:
    image: adminer
    restart: always
    ports:
      - "8003:8003"
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge